<h1>Articles, <%= @total %> </h1>
<table>
    <thead>
    <tr>
    <th>Headline</th>
    <th>Description</th>
    <th>Pub date</th>
    <th>Node created</th>
    <th colspan="3"></th>
    </tr>
    </thead>
        <tbody>
            <% @articles.each do |article| %>
        <tr>
        <td><a href="<%= article.url %>"><%= article.headline %><a/></td>
        <td><%= article.description %></td>
        <td><%= article.pub_date %></td>
        <td><%= article.node_created %></td>
        </tr>
                    <% end %>
        </tbody>
        </table>


<%= link_to 'New Article', new_article_path %>