<h1>Articles, <%= @total %> </h1>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Node created</th>
      <th>Headline</th>
      <th>Description</th>
      <th>Pub date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><a href="<%= article.url %>"><%= article.url %><a/></td>
        <td><%= article.node_created %></td>
        <td><%= article.headline %></td>
        <td><%= article.description %></td>
        <td><%= article.pub_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
